<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    {% include header.html%}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p><img src="../images/WeWantEd.jpeg"></p>
        <h3>{{ site.description | default: site.github.project_tagline }}</h2>
        <br><br><br>
        <h1>Metin Editörleri</h1>
          <p>Hemen hemen her yazılımcının hayatında bir kez de olsa çelişkiye düştüğü bu konu hakkında yazmak istedim. Öncelikle; en iyi metin editörü diye bir şey olmadığını, tercihinizi editörlerin özelliklerine bakıp, size hangisinin en iyi hitap ettiğine göre yapmanızı tavsiye ediyorum. Bu yazıda da biraz, editörlerin farkından bahsedeceğim.</p>
          <h3>Atom</h3>
          <li>Fiyat: <strong> Ücretsiz </strong>(MIT Lisansı)</li>
          <li>Geliştirici: <strong> GitHub </strong></li>
          <li>Platforms: <strong> OSX, Windows, Linux </strong></li>
          <p>Atom, "21. yüzyılın hacklenebilir metin editörü" olarak tanımlanıyor. 2014 yılında yaratılan Atom'un günümüze kadar hızlı bir ivme kazanarak geldi. Başlıca özelliklerine bakarak devam edelim.</p>
          <h3>Paketler</h3>
          <p>Bir düzenlemeye ek özellikler ekleme yeteneği oldukça önemli bir konu. Atom da bu konuda oldukça başarılı. Paket yöneticisi varsayılan olarak yüklenir ve tüm paketlere github üstünden erişebilirsiniz. Bu yazıyı yazdığım anda bile hali hazırla 8.234 paket bulunuyor.</p>
          <h3>Düzenleme ve İş Akışı</h3>
          <p>Genel olarak atom kullanışı çok zorlamayacak bir editör. Başlangıç olarak yaşayacağınız en büyük problem ise hangi ek paketlerin kurulması gerektiğini bulmak olacaktır.</p>
          <p>Github tarafından tasarlandığı için de tabii ki git entegrasyonu harika.</p>
          <h3>Özelleştirme</h3>
          <p>Bir editörü kendi tarzınıza göre özelleştirebilmek şüphesiz ki önemli bir husus. Atom'un döküman sayfası stilleri nasıl geçersiz kılacağınız konusunda başarılıdır. Ayarları geçersiz kılabilmesi güzel bir özellik.</p>
          <h3>Performans</h3>
          <p>Bence Atom'un en zayıf kaldığı yön bu. İlk çıktığı zamanlar daha can sıkıcı olmakla birlikte bir dosya açmak veya sekmeler arasında gezmek gibi işlemler hala aşırı derecede sinir bozucu ve can sıkıcı olabiliyor.</p>
          <p>Sonuç olarak Atom kişiselleştirme yapmak için ideal editörlerin başında gleiyor diyebilirim. Editörünü kendi isteğine göre düzenleyebilmek editörün kullanışlılığını muhakkak arttıracaktır. Dökümantasyon olarak da iyi bir dökümantasyon sağlıyor. En büyük problemi ise dediğim gibi Atom'un hala can sıkıcı derecede yavaş olması.</p>

      </section>
    </div>

    <!-- FOOTER  -->
    {% include footer.html%}

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
